<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Dynamics.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>EF5405BE1B4EC5680069C5D4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EF5405D21B4EC5680069C5D4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EF5405DD1B4EC5690069C5D4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
